* {
	margin: 0px;
	padding: 0px;
}

#background {
	background-image: url(/img/aiviy_login_bg1.png);
	height: 647px;
	background-size: cover;
	min-width: 70%;
	padding-top: 75px;
}

.whole {
	width: 500px;
	height: 400px;
	margin: auto;
}

form input {
	height: 40px;
	width: 100%;
	padding-left: 10px;
	border: none;
	outline: none;
	background-color: #FCFBFA;
}
.user,.password{
	margin-left: 15px;
	/* border: 1px solid black; */
	width: 89%;
}
.user span {
	font-size: 18px;
	width: 25px;
	height: 25px;
	display: block;
	float: right;
	color: #fff;
	background-color: #3F3A36;
	margin-right: 15px;
	border: 1px solid #3F3A36;
	border-radius: 100%;
	text-align: center;
}
.whole form {
	margin-bottom: 50px;
	width: 400px;
	padding: 40px 25px;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 5px;
}

.aiviy img {
	width: 180px;
	margin-bottom: 10px;
}

.register {
	text-align: center;
	font-weight: normal;
	margin: 0 0 18px 0;
	font-size: 25px;
	margin-top: 40px;
}

.users,.password,.new,.zhuce{
	margin-top: 40px;
}

.new button {
	background: #25C6FC;
	width: 90%;
	padding: 8px 16px;
	margin-left: 19px;
	text-align: center;
	font-size: 20px;
	color: #FFF;
	transition: background .15s ease, border .15s ease;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border: 2px solid #25C6FC;
	border-radius: 4px;
	outline: 0;
}

.zh h3 {
	text-align: center;
	font-weight: normal;
	font-size: 2.4rem;
	margin: 0 0 0.7em 0;
}

.an input {
	font-size: 1.8rem;
	background: transparent;
	color: #3F3A36;
	padding: 10px 16px;
	border: 1px solid #3F3A36;
	border-radius: 4px;
	font-weight: 500;
	margin: 1px 0;
	width: auto;
	display: block;
	text-align: center;
	transition: background .2s linear, color .3s linear;
	outline: 0;
}
.zhuce p{
	text-align: center;
	font-size: 15px;
	color: #7B9A9F;
}

.tail a{
	color: #999;
	font-size: 17px;
}
.tail span{
	color: #DDDEE6;
}
.tail{
	margin-top: 50px;
	text-align: center;
	width: 100%;
}
