.personal-header {
	background-color: #464855;
	height: 50px;
}
.personal-header div{
	margin-left: 180px;
	padding: 14px;
	color: white;
}
.personal-header a{
	color: white;
}

.ddt th{
	border-bottom-color:rgb(221, 223, 231);
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-collapse:collapse;
	border-image-outset:0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(221, 223, 231);
	border-left-style: solid;
	border-left-width: 0px;
	border-right-color: rgb(221, 223, 231);
	border-right-style: solid;
	border-right-width: 0px;
	border-top-color: rgb(221, 223, 231);
	border-top-style: solid;
	border-top-width: 0px;
	box-sizing: border-box;
	color: rgb(70, 72, 85);
	display: inline-block;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	font-weight: 500;
	height: 68.2px;
	letter-spacing: 0.3px;
	line-height: 27.36px;
	overflow-wrap: break-word;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 20px;
	text-align: left;
	text-size-adjust: 100%;
	text-transform: uppercase;
	vertical-align: text-bottom;
	width: 150px;
	word-break: normal;
	-webkit-border-horizontal-spacing: 0px;
}

.personal-body {
	width: 250px;
	border: 1px solid #DDDFE7;
	padding: 24px;
	margin-left: 200px;
	background-color: white;
	margin-bottom: 50px;
	margin-top: 38px;
	/* display: inline; */
	float: left;
}

.personal-body li {
	height: 50px;
	color: #7C7F8F;
	list-style-type: none;
	border-bottom: 1px solid #DDDFE7;
	margin-top: 30px;

}


.personal-content {
	/* border: 1px solid black; */
	width: 61%;
	/* margin-left: 400px; */
	float: left;
	display: inline;
	margin-top: 38px;
	margin-left: 30px;
}

.account img {
	width: 50px;
}

.account p:first-of-type {
	box-sizing: border-box;
	color: rgb(107, 111, 129);
	/* display: inline; */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	font-weight: 500;
	height: auto;
	line-height: 27.36px;
	overflow-wrap: break-word;
	text-size-adjust: 100%;
	width: auto;
	margin-top:20px;
}

.account p:last-of-type {
	box-sizing:border-box;
	color:rgb(107, 111, 129);
	display:block;
	font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size:16px;
	font-weight:400;
	height:27.2px;
	line-height:27.36px;
	margin-block-end:16px;
	margin-block-start:0px;
	margin-bottom:16px;
	margin-inline-end:0px;
	margin-inline-start:0px;
	margin-top:20px;
	overflow-wrap:break-word;
	text-size-adjust:100%;
	width:779.6px;
}

.clear {
	clear: both;
}

.personal-content ul {
	list-style-type: none;
}

.one-one {
	/* text-decoration: underline; */
	border-bottom: 1px solid #DDDFE7;
	color: #62636F;
	height: 60px;
	font-size: 20px;
}

.one-two {
	color: #7C7F8F;
	height: 60px;
}

.two-one {
	color: #28241D;
	height: 60px;
}

.two-two {
	color: #5D5D5D;
	height: 60px;
	font-size: 16px;
}

.two-two span {
	color: #2451A2;
}

.three-one {
	color: #28241D;
	height: 60px;
}

.three-two {
	color: #545454;
	height: 60px;
	font-size: 22px;
}

.three-three {
	color: #3E66AD;
	height: 60px;
}

.zt {
	padding-left: 5px;
	color: #25C6FC;
	border-left: 4px solid;
	font-size: 18px;
}

.tq {
	padding-left: 5px;
	color: #25C6FC;
	border-left: 4px solid;
	font-size: 18px;
}

.gz {
	padding-left: 5px;
	color: #25C6FC;
	border-left: 4px solid;
	font-size: 18px;
}

.a {
	background-color: #FBE8BA;
}

.b {
	background-color: #FDDB87;
}

.c {
	background-color: #F9CE64;
}

.d {
	background-color: #E1B549;
}

.e {
	background-color: #B78712;
}

.vip table {
	width: 100%;
	font-size: 18px;
	text-align: center;
}

th {
	text-align: center;
}

.vip h3 {
	margin-bottom: 25px;
}

.vip table:last-of-type {
	margin-bottom: 70px;
}

.address input {
	height: 50px;
	width: 80%;
	padding: 8px
}

.button-address input {
	background-color: #25c6fc;
	border-color: #25c6fc;
	border: 0px;
	color: #FFF;
}

.form-group {
	width: 26%;
	float: left;
	margin-right: 5px;
}

.address form>div p:first-of-type {
	color: #898d9f;
	font-size: 13px;
}

.address form>div input {
	border-radius: 5px;
	outline: none;
}

.zhxq input {
	height: 50px;
	width: 80%;
	padding: 8px
}

/*.wddd div:first-of-type {
	width: 85%;
	height: 50px;
	!* border: 1px solid black;*!
	background-color: #EDD0BE;
	float: left;
}*/

/*.wddd div:last-of-type {
	float: left;
	background-color: #CFB2A0;
	width: 15%;
	height: 50px;
}*/

.wddd a {
	color: white;
	font-size: 16px;
	text-align: center;
}

.wddd span {
	color: white;
	font-size: 16px;
}

.wdjf span {
	color: #6B6F81;
	font-size: 20px;
}

.jfgz {
	border: 1px solid #D1D1D1;
	box-shadow: 0px 0px 5px 3px #E7E7EA;
}

.wdjf h3 {
	color: #6B6F81;
	font-size: 20px;
}

.wdjf div:first-of-type {
	margin-bottom: 100px;
}

.wdjf p {
	color: #6B6F81;
}

.zhxq form>div p:first-of-type {
	color: #898d9f;
	font-size: 13px;
}

.zhxq form>div input {
	border-radius: 5px;
	outline: none;
}

.ddt1{
	widows: 15%;
}

/*.ddt th{
	!* width: 60px; *!
	border-bottom-color:rgb(221, 223, 231);
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-collapse:collapse;
	border-image-outset:0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(221, 223, 231);
	border-left-style: solid;
	border-left-width: 0px;
	border-right-color: rgb(221, 223, 231);
	border-right-style: solid;
	border-right-width: 0px;
	border-top-color: rgb(221, 223, 231);
	border-top-style: solid;
	border-top-width: 0px;
	box-sizing: border-box;
	color: rgb(70, 72, 85);
	display: inline-block;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	font-weight: 500;
	height: 68.2px;
	letter-spacing: 0.3px;
	line-height: 27.36px;
	overflow-wrap: break-word;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 20px;
	text-align: left;
	text-size-adjust: 100%;
	text-transform: uppercase;
	vertical-align: text-bottom;
	width: 150px;
	word-break: normal;
	-webkit-border-horizontal-spacing: 0px;
}*/

.grxxdz input{
	  height: 30px;
	  width: 70%;
	    padding-left: 10px;
	    border: none;
	    outline: none;
	    background-color: #FCFBFA;
	    border-bottom: 2px solid #cbc5bf;
}
.grsjhm input{
	height: 30px;
	width: 70%;
	  padding-left: 10px;
	  border: none;
	  outline: none;
	  background-color: #FCFBFA;
	  border-bottom: 2px solid #cbc5bf;
}
.grmz input{
	height: 30px;
	width: 70%;
	  padding-left: 10px;
	  border: none;
	  outline: none;
	  background-color: #FCFBFA;
	  border-bottom: 2px solid #cbc5bf;
}
.grnc input{
	height: 30px;
	width: 70%;
	  padding-left: 10px;
	  border: none;
	  outline: none;
	  background-color: #FCFBFA;
	  border-bottom: 2px solid #cbc5bf;
	margin-bottom: 30px;
}
.xgxx input {
	width: 70%;
	height: 40px;
	font-size: 20px;
	color: white;
	background-color: #25C6FC;
	border: none;
	margin-bottom: 100px;
	margin-top: 20px;
}