<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.exam.mapper.AddressMapper">
  <resultMap id="BaseResultMap" type="com.kgc.exam.entity.Address">
    <id column="ad_id" jdbcType="INTEGER" property="adId" />
    <result column="ad_address" jdbcType="VARCHAR" property="adAddress" />
    <result column="ad_phone" jdbcType="VARCHAR" property="adPhone" />
    <result column="ad_name" jdbcType="VARCHAR" property="adName" />
    <result column="ad_name" jdbcType="VARCHAR" property="adSname" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>

  <resultMap id="queryUserWithAddressMap" type="com.kgc.exam.entity.Address">
    <id column="ad_id" jdbcType="INTEGER" property="adId" />
    <result column="ad_address" jdbcType="VARCHAR" property="adAddress" />
    <result column="ad_phone" jdbcType="VARCHAR" property="adPhone" />
    <result column="ad_name" jdbcType="VARCHAR" property="adName" />
    <result column="ad_name" jdbcType="VARCHAR" property="adSname" />
    <result column="aduserId" jdbcType="INTEGER" property="userId" />
    <association property="user" javaType="com.kgc.exam.entity.User">
      <id column="uuserId" property="userId"></id>
      <result column="user_name" property="userName"></result>
    </association>
  </resultMap>

  <sql id="Base_Column_List">
    ad_id, ad_address, ad_phone, ad_name, ad_sname, user_id
  </sql>
  <select id="queryAddress" resultMap="queryUserWithAddressMap">
    select ad_id, ad_address, ad_phone, ad_name, ad_sname, ad.user_id aduserId,u.user_id uuserId,user_name
    from address ad inner join user u on ad.user_id=u.user_id
    <where>
      <if test="userName != null and userName !=''">
        user_name like concat('%',#{userName},'%')
      </if>
    </where>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from address
    where ad_id = #{adId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from address
    where ad_id = #{adId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kgc.exam.entity.Address">
    insert into address (ad_address, ad_phone,ad_name, ad_sname,user_id)
    values (#{address.adAddress}, #{address.adPhone}, #{address.adSname},#{address.adName}, #{address.userId})
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.exam.entity.Address">
    <!--@mbg.generated-->
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adId != null">
        ad_id,
      </if>
      <if test="adAddress != null">
        ad_address,
      </if>
      <if test="adPhone != null">
        ad_phone,
      </if>
      <if test="adName != null">
        ad_name,
      </if>
      <if test="adSname != null">
        ad_sname,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adId != null">
        #{adId,jdbcType=INTEGER},
      </if>
      <if test="adAddress != null">
        #{adAddress,jdbcType=VARCHAR},
      </if>
      <if test="adPhone != null">
        #{adPhone,jdbcType=VARCHAR},
      </if>
      <if test="adSname != null">
        #{adSname,jdbcType=VARCHAR},
      </if>
      <if test="adName != null">
        #{adName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.exam.entity.Address">
    <!--@mbg.generated-->
    update address
    <set>
      <if test="adAddress != null">
        ad_address = #{adAddress,jdbcType=VARCHAR},
      </if>
      <if test="adPhone != null">
        ad_phone = #{adPhone,jdbcType=VARCHAR},
      </if>
      <if test="adName != null">
        ad_user = #{adName,jdbcType=VARCHAR},
      </if>
      <if test="adSname != null">
        ad_user = #{adSname,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where ad_id = #{adId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.exam.entity.Address">
    <!--@mbg.generated-->
    update address
    set ad_address = #{adAddress,jdbcType=VARCHAR},
      ad_phone = #{adPhone,jdbcType=VARCHAR},
    ad_name = #{adName,jdbcType=VARCHAR},
    ad_sname = #{adSname,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER}
    where ad_id = #{adId,jdbcType=INTEGER}
  </update>

  <select id="queryAllByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from address
    where user_id = #{userId}
  </select>
</mapper>