<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.exam.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.kgc.exam.entity.Goods">
    <!--@mbg.generated-->
    <!--@Table goods-->
    <id column="g_id" jdbcType="INTEGER" property="gId" />
    <result column="g_name" jdbcType="VARCHAR" property="gName" />
    <result column="g_price" jdbcType="DOUBLE" property="gPrice" />
    <result column="g_content" jdbcType="VARCHAR" property="gContent" />
    <result column="uploadTime" jdbcType="TIMESTAMP" property="uploadtime" />
    <result column="countStatus" jdbcType="INTEGER" property="countstatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    g_id, g_name, g_price, g_content, uploadTime, countStatus
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from goods
    where g_id = #{gId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from goods
    where g_id = #{gId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kgc.exam.entity.Goods">
    <!--@mbg.generated-->
    insert into goods (g_id, g_name, g_price, 
      g_content, uploadTime, countStatus
      )
    values (#{gId,jdbcType=INTEGER}, #{gName,jdbcType=VARCHAR}, #{gPrice,jdbcType=DOUBLE}, 
      #{gContent,jdbcType=VARCHAR}, #{uploadtime,jdbcType=TIMESTAMP}, #{countstatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.exam.entity.Goods">
    <!--@mbg.generated-->
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gId != null">
        g_id,
      </if>
      <if test="gName != null">
        g_name,
      </if>
      <if test="gPrice != null">
        g_price,
      </if>
      <if test="gContent != null">
        g_content,
      </if>
      <if test="uploadtime != null">
        uploadTime,
      </if>
      <if test="countstatus != null">
        countStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gId != null">
        #{gId,jdbcType=INTEGER},
      </if>
      <if test="gName != null">
        #{gName,jdbcType=VARCHAR},
      </if>
      <if test="gPrice != null">
        #{gPrice,jdbcType=DOUBLE},
      </if>
      <if test="gContent != null">
        #{gContent,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null">
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="countstatus != null">
        #{countstatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.exam.entity.Goods">
    <!--@mbg.generated-->
    update goods
    <set>
      <if test="gName != null">
        g_name = #{gName,jdbcType=VARCHAR},
      </if>
      <if test="gPrice != null">
        g_price = #{gPrice,jdbcType=DOUBLE},
      </if>
      <if test="gContent != null">
        g_content = #{gContent,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null">
        uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="countstatus != null">
        countStatus = #{countstatus,jdbcType=INTEGER},
      </if>
    </set>
    where g_id = #{gId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.exam.entity.Goods">
    <!--@mbg.generated-->
    update goods
    set g_name = #{gName,jdbcType=VARCHAR},
      g_price = #{gPrice,jdbcType=DOUBLE},
      g_content = #{gContent,jdbcType=VARCHAR},
      uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      countStatus = #{countstatus,jdbcType=INTEGER}
    where g_id = #{gId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-02-21-->
  <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from goods
    </select>

<!--auto generated by MybatisCodeHelper on 2020-02-21-->
  <select id="queryAllByGName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from goods
    where g_name=#{gName,jdbcType=VARCHAR}
  </select>

  <resultMap id="goodsWithImageMap" type="com.kgc.exam.entity.Goods">
    <id column="g_id" jdbcType="INTEGER" property="gId" />
    <result column="g_name" jdbcType="VARCHAR" property="gName" />
    <result column="g_price" jdbcType="DOUBLE" property="gPrice" />
    <result column="g_content" jdbcType="VARCHAR" property="gContent" />
    <result column="uploadTime" jdbcType="TIMESTAMP" property="uploadtime" />
    <result column="countStatus" jdbcType="INTEGER" property="countstatus" />
    <collection property="images" ofType="com.kgc.exam.entity.Image">
      <id column="img_id" property="imgId"></id>
      <result column="img_url" property="imgUrl"></result>
    </collection>
  </resultMap>

  <select id="queryGoodsWithImage" resultMap="goodsWithImageMap">
    SELECT G.g_id,g_name,g_price,g_content,uploadTime,countStatus,I.img_id,I.img_url
    FROM `goods` AS G
    INNER JOIN `image` AS I
    ON I.g_id=G.g_id
  </select>

  <select id="queryNew" resultMap="goodsWithImageMap">
    SELECT G.g_id,g_name,g_price,g_content,uploadTime,countStatus,I.img_id,I.img_url
    FROM `goods` AS G
    INNER JOIN `image` AS I
    ON I.g_id=G.g_id
    where countStatus =1
  </select>

</mapper>