<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.exam.mapper.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.kgc.exam.entity.Orders">
    <!--@mbg.generated-->
    <!--@Table orders-->
    <id column="o_id" jdbcType="INTEGER" property="oId" />
    <result column="o_no" jdbcType="VARCHAR" property="oNo" />
    <result column="o_state" jdbcType="INTEGER" property="oState" />
    <result column="o_num" jdbcType="DOUBLE" property="oNum" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="createdDate" jdbcType="TIMESTAMP" property="createddate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    o_id, o_no, o_state, o_num, user_id, createdDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from orders
    where o_id = #{oId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from orders
    where o_id = #{oId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="o_id" keyProperty="oId" parameterType="com.kgc.exam.entity.Orders" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into orders (o_no, o_state, o_num, 
      user_id, createdDate)
    values (#{oNo,jdbcType=VARCHAR}, #{oState,jdbcType=INTEGER}, #{oNum,jdbcType=DOUBLE}, 
      #{userId,jdbcType=INTEGER}, #{createddate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="o_id" keyProperty="oId" parameterType="com.kgc.exam.entity.Orders" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oNo != null">
        o_no,
      </if>
      <if test="oState != null">
        o_state,
      </if>
      <if test="oNum != null">
        o_num,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createddate != null">
        createdDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oNo != null">
        #{oNo,jdbcType=VARCHAR},
      </if>
      <if test="oState != null">
        #{oState,jdbcType=INTEGER},
      </if>
      <if test="oNum != null">
        #{oNum,jdbcType=DOUBLE},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createddate != null">
        #{createddate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.exam.entity.Orders">
    <!--@mbg.generated-->
    update orders
    <set>
      <if test="oNo != null">
        o_no = #{oNo,jdbcType=VARCHAR},
      </if>
      <if test="oState != null">
        o_state = #{oState,jdbcType=INTEGER},
      </if>
      <if test="oNum != null">
        o_num = #{oNum,jdbcType=DOUBLE},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createddate != null">
        createdDate = #{createddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where o_id = #{oId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.exam.entity.Orders">
    <!--@mbg.generated-->
    update orders
    set o_no = #{oNo,jdbcType=VARCHAR},
      o_state = #{oState,jdbcType=INTEGER},
      o_num = #{oNum,jdbcType=DOUBLE},
      user_id = #{userId,jdbcType=INTEGER},
      createdDate = #{createddate,jdbcType=TIMESTAMP}
    where o_id = #{oId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-03-02-->
  <select id="queryAllByONo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from orders
        where o_no=#{oNo,jdbcType=VARCHAR}
    </select>

  <resultMap id="orderMap" type="com.kgc.exam.entity.Orders">
    <id column="o_id" jdbcType="INTEGER" property="oId" />
    <result column="o_no" jdbcType="VARCHAR" property="oNo" />
    <result column="o_state" jdbcType="INTEGER" property="oState" />
    <result column="o_num" jdbcType="DOUBLE" property="oNum" />
    <result column="ouserId" jdbcType="INTEGER" property="userId" />
    <result column="ocreatedDate" jdbcType="TIMESTAMP" property="createddate" />
    <association property="user" javaType="com.kgc.exam.entity.User">
      <id column="uuserId" property="userId"></id>
      <result column="user_name" property="userName"></result>
    </association>
  </resultMap>
  <select id="queryOrders" resultMap="orderMap">
    select
    o_id, o_no, o_state, o_num, o.user_id ouserId, o.createdDate ocreatedDate,u.user_id uuserId,user_name
    from orders o inner join user u on o.user_id=u.user_id
    <where>
      <if test="oNo != null and oNo !=''">
        o_no=#{oNo}
      </if>
    </where>
  </select>

  <delete id="del">
    delete from orders where o_no=#{oNo}
  </delete>
</mapper>