<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.exam.mapper.PersonalMapper">
    <resultMap id="orderMap" type="com.kgc.exam.entity.Order">
        <id column="o_id" property="o_id"></id>
        <result column="o_no" property="o_no"></result>
        <result column="o_state" property="o_state"></result>
        <result column="o_num" property="o_num"></result>
        <result column="g_id" property="g_id"></result>
        <result column="u_id" property="u_id"></result>
        <association property="user" javaType="com.kgc.exam.entity.User">
            <id column="user_id" property="user_id"></id>
            <result column="user_money" property="user_money"></result>
        </association>
    </resultMap>

    <select id="queryOrder" resultMap="orderMap">
        select o_id,o_no,o_state,o_num,g_id,u_id,user_id,user_money
        from order INNER JOIN user on u_id=user_id
        <where>
            <if test="u_id!=null and u_id!=0">
                u_id=#{userId}
            </if>
        </where>
    </select>

    <select id="queryAddress" resultType="com.kgc.exam.entity.Address">
        select ad_id,ad_address,ad_phone,user_id,ad_sname,ad_name from address where user_id=#{userId}
    </select>

    <update id="updateAddress">
        update address
        <set>
            <trim suffix="" suffixOverrides=",">
                <if test="Address.adName != null and Address.adName != ''">
                    ad_user=#{Address.adName},
                </if>
                <if test="Address.adAddress != null and Address.adAddress != ''">
                    ad_address=#{Address.adAddress},
                </if>
                <if test="Address.adName != null and  Address.adName!= ''">
                    ad_user=#{Address.adName},
                </if>
            </trim>
        </set>
        <where>
            <if test="Address.adId != null">
                ad_id=#{Address.adId}
            </if>
        </where>
    </update>

    <update id="updateUser">
        update user
        <set>
            <trim suffix="" suffixOverrides=",">
                <if test="User.nickname != null and User.nickname != ''">
                    nickname=#{User.nickname},
                </if>
                <if test="User.userMail != null and Address.userMail != ''">
                    user_mail=#{User.userMail},
                </if>
                <if test="User.userPhone != null and  User.userPhone!= ''">
                    user_phone=#{User.userPhone},
                </if>
                <if test="User.userPwd != null and  User.userPwd!= ''">
                    user_pwd=#{User.userPwd},
                </if>
            </trim>
        </set>
        <where>
            <if test="User.userId != null">
                user_id=#{User.userId}
            </if>
        </where>
    </update>


</mapper>