<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.exam.mapper.PersonalMapper">
    <resultMap id="orderMap" type="com.kgc.exam.entity.Orders">
        <id column="o_id" property="oId"></id>
        <result column="o_no" property="oNo"></result>
        <result column="o_state" property="oState"></result>
        <result column="o_num" property="oNum"></result>
        <association property="user" javaType="com.kgc.exam.entity.User">
            <id column="user_id" property="userId"></id>
            <result column="user_money" property="userMoney"></result>
        </association>
    </resultMap>

    <select id="queryOrder" resultMap="orderMap">
        select O.o_id,O.o_no,O.o_state,O.o_num,O.user_id,U.user_money
        from orders O INNER JOIN user U on O.user_id=U.user_id
        <where>
            <if test="userId!=null and userId!=0">
                u_id=#{userId}
            </if>
        </where>
    </select>

    <select id="queryAddress" resultType="com.kgc.exam.entity.Address">
        select ad_id,ad_address,ad_phone,user_id,ad_sname,ad_name from address where user_id=#{userId}
    </select>

    <update id="updateAddress">
        update address
        <set>
            <trim suffix="" suffixOverrides=",">
                <if test="Address.adName != null and Address.adName != ''">
                    ad_user=#{Address.adName},
                </if>
                <if test="Address.adAddress != null and Address.adAddress != ''">
                    ad_address=#{Address.adAddress},
                </if>
                <if test="Address.adName != null and  Address.adName!= ''">
                    ad_user=#{Address.adName},
                </if>
            </trim>
        </set>
        <where>
            <if test="Address.adId != null">
                ad_id=#{Address.adId}
            </if>
        </where>
    </update>

    <update id="updateUser">
        update user
        <set>
            <trim suffix="" suffixOverrides=",">
                <if test="User.nickname != null and User.nickname != ''">
                    nickname=#{User.nickname},
                </if>
                <if test="User.userMail != null and Address.userMail != ''">
                    user_mail=#{User.userMail},
                </if>
                <if test="User.userPhone != null and  User.userPhone!= ''">
                    user_phone=#{User.userPhone},
                </if>
                <if test="User.userPwd != null and  User.userPwd!= ''">
                    user_pwd=#{User.userPwd},
                </if>
            </trim>
        </set>
        <where>
            <if test="User.userId != null">
                user_id=#{User.userId}
            </if>
        </where>
    </update>


</mapper>