<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.exam.mapper.PersonalMapper">
    <resultMap id="orderMap" type="com.kgc.exam.entity.Orders">
        <id column="o_id" property="oId"></id>
        <result column="o_no" property="oNo"></result>
        <result column="o_state" property="oState"></result>
        <result column="o_num" property="oNum"></result>
        <association property="user" javaType="com.kgc.exam.entity.User">
            <id column="user_id" property="userId"></id>
            <result column="user_money" property="userMoney"></result>
        </association>
    </resultMap>

    <select id="queryOrder" resultMap="orderMap">
        select O.o_id,O.o_no,O.o_state,O.o_num,O.user_id,U.user_money
        from orders O INNER JOIN user U on O.user_id=U.user_id
        <where>
            <if test="userId!=null and userId!=0">
                u_id=#{userId}
            </if>
        </where>
    </select>
</mapper>