<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.exam.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.kgc.exam.entity.User">
    <!--@mbg.generated-->
    <!--@Table user-->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_mail" jdbcType="VARCHAR" property="userMail" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="user_money" jdbcType="DOUBLE" property="userMoney" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="v_id" jdbcType="INTEGER" property="vId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, user_name, user_mail, user_phone, user_pwd, user_money, nickname, v_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
      and user_name = #{userName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
      and user_name = #{userName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="user_id" keyProperty="userId" parameterType="com.kgc.exam.entity.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user (user_name, user_mail, user_phone, 
      user_pwd, user_money, nickname, 
      v_id)
    values (#{userName,jdbcType=VARCHAR}, #{userMail,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, 
      #{userPwd,jdbcType=VARCHAR}, #{userMoney,jdbcType=DOUBLE}, #{nickname,jdbcType=VARCHAR}, 
      #{vId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="user_id" keyProperty="userId" parameterType="com.kgc.exam.entity.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        user_name,
      </if>
      <if test="userMail != null">
        user_mail,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="userPwd != null">
        user_pwd,
      </if>
      <if test="userMoney != null">
        user_money,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="vId != null">
        v_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMail != null">
        #{userMail,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userMoney != null">
        #{userMoney,jdbcType=DOUBLE},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="vId != null">
        #{vId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.exam.entity.User">
    <!--@mbg.generated-->
    update user
    <set>
      <if test="userMail != null">
        user_mail = #{userMail,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userMoney != null">
        user_money = #{userMoney,jdbcType=DOUBLE},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="vId != null">
        v_id = #{vId,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
      and user_name = #{userName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.exam.entity.User">
    <!--@mbg.generated-->
    update user
    set user_mail = #{userMail,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      user_money = #{userMoney,jdbcType=DOUBLE},
      nickname = #{nickname,jdbcType=VARCHAR},
      v_id = #{vId,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
      and user_name = #{userName,jdbcType=VARCHAR}
  </update>


  <select id="login" resultType="com.kgc.exam.entity.Users">
    select id,user_name,user_mail,user_phone,user_pwd,user_money,nickname,v_id from user
    <where>
      id=#{id}
    </where>
  </select>

  <insert id="add">
        insert into user(user_name,user_mail,user_phone,user_pwd)
        values(#{user_name},#{user_mail,},#{user_phone},#{user_pwd})
    </insert>

</mapper>