<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.exam.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.kgc.exam.entity.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_mail" jdbcType="VARCHAR" property="userMail" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="user_money" jdbcType="DOUBLE" property="userMoney" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="uvid" jdbcType="INTEGER" property="vId" />
    <association property="member" javaType="com.kgc.exam.entity.Member">
      <id column="mvid" property="vId"></id>
      <result column="v_name" property="vName"></result>
      <result column="v_count" property="vCount"></result>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, user_name, user_mail, user_phone, user_pwd, user_money, nickname, v_id
  </sql>

  <select id="queryUser" resultMap="BaseResultMap">
    select user_id, user_name, user_mail, user_phone, user_pwd, user_money, nickname, u.v_id uvid,m.v_id mvid,v_name
    from user u inner join member m on u.v_id=m.v_id
  </select>

  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
      and user_name = #{userName,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByUserId">
    delete from user where user_id = #{userId}
  </delete>

  <insert id="insert" parameterType="com.kgc.exam.entity.User">
    insert into user (user_name, user_mail, user_phone,user_pwd, user_money, nickname, v_id)
    values (#{user.userName}, #{user.userMail}, #{user.userPhone},#{user.userPwd}, #{user.userMoney}, #{user.nickname},1)
  </insert>


  <insert id="insertSelective" keyColumn="user_id" keyProperty="userId" parameterType="com.kgc.exam.entity.User" useGeneratedKeys="true">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user.userName != null">
        user_name,
      </if>
      <if test="user.userMail != null">
        user_mail,
      </if>
      <if test="user.userPhone != null">
        user_phone,
      </if>
      <if test="user.userPwd != null">
        user_pwd,
      </if>
      <if test="user.userMoney != null">
        user_money,
      </if>
      <if test="user.nickname != null">
        nickname,
      </if>
      v_id
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user.userName != null">
        #{user.userName,jdbcType=VARCHAR},
      </if>
      <if test="user.userMail != null">
        #{user.userMail,jdbcType=VARCHAR},
      </if>
      <if test="user.userPhone != null">
        #{user.userPhone,jdbcType=VARCHAR},
      </if>
      <if test="user.userPwd != null">
        #{user.userPwd,jdbcType=VARCHAR},
      </if>
      <if test="user.userMoney != null">
        #{user.userMoney,jdbcType=DOUBLE},
      </if>
      <if test="user.nickname != null">
        #{user.nickname,jdbcType=VARCHAR},
      </if>
      1
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.exam.entity.User">
    <!--@mbg.generated-->
    update user
    <set>
      <if test="userMail != null">
        user_mail = #{userMail,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userMoney != null">
        user_money = #{userMoney,jdbcType=DOUBLE},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="vId != null">
        v_id = #{vId,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
      and user_name = #{userName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.exam.entity.User">
    <!--@mbg.generated-->
    update user
    set user_mail = #{userMail,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      user_money = #{userMoney,jdbcType=DOUBLE},
      nickname = #{nickname,jdbcType=VARCHAR},
      v_id = #{vId,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
      and user_name = #{userName,jdbcType=VARCHAR}
  </update>


  <select id="login" resultType="com.kgc.exam.entity.User">
    select id,user_name,user_mail,user_phone,user_pwd,user_money,nickname,v_id from user
    <where>
      id=#{id}
    </where>
  </select>


  <insert id="add">
        insert into user(user_name,user_mail,user_phone,user_pwd)
        values(#{user.userName},#{user.userMail},#{user.userPhone},#{user.userPwd})
    </insert>


</mapper>